node_modules
# Keep environment variables out of version control
.env
uploads/*
uploads/screenshots/**
uploads/videos/**
!uploads/.gitkeep
!uploads/screenshots/
!uploads/screenshots/.gitkeep
!uploads/videos/
!uploads/videos/.gitkeep